* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(229, 229, 229);
  width: 375px;
  height: 4031px;
  padding-top: 20px;
  padding-left: 7px;
  display: grid;
}

.project1, .project2, .project3, .project4, .aboutself {
  display: flex;
  flex-direction: column;
} 

.project1, .project3 {
  width: 327px;
  height: 552px;
  padding-left: 24px;
  padding-top: 40px;
  padding-right: 16px;
  padding-bottom: 16px;
  border: 1px solid rgb(223, 225, 230);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  align-items: center;

}

.project2, .project4 {
    width: 327px;
    height: 596px;
    padding-left: 24px;
    padding-top: 40px;
    padding-right: 16px;
    padding-bottom: 16px;
    border: 1px solid rgb(223, 225, 230);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.snap {
  width: 295px;
  height: 220px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  margin-top: -25px;
}

.heading1 {
  width: 295px;
  height: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700px, bold;
  font-size: 25px;
  line-height: 44px; 
  color: rgb(23, 43, 77);
  margin: 12px 0;
  font-style: normal;
}

.heading {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700px, bold;
  font-size: 25px;
  line-height: 44px; 
  color: rgb(23, 43, 77);
  margin: 12px 0;   
  font-style: normal; 
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center; 
  width: 236px;
  height: 32px;
  padding-top: 20px; 
  padding-inline-start: 0;
  margin-left: -54px;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-weight: 600px;
  font-size: 13px;
  line-height: 16px;
  list-style-type: none;
  text-decoration: none; 
  color: rgb(52, 69, 99);
  width: 55px;
  height: 16px;
  padding-top: 8px;
}

.end1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600px;
  font-size: 13px;
  width: 88px;
  line-height: 16px;
  padding-top: 8px;
  color: rgb(122, 134, 154);
  list-style: disc;
  height: 16px;font-family: 'Poppins', sans-serif;
  font-weight: 600px;
  font-size: 13px;
  width: 88px;
  line-height: 16px;
  padding-top: 8px;
  color: rgb(122, 134, 154);
  list-style: disc;font-family: 'Poppins', sans-serif;
  font-weight: 600px;
  font-size: 13px;
  width: 88px;
  line-height: 16px;
  padding-top: 8px;
  color: rgb(122, 134, 154);
  padding-left: 20px;
}

.end {
  font-family: 'Poppins', sans-serif;
  font-weight: 600px;
  font-size: 13px;
  width: 29px;
  line-height: 16px;
  padding-top: 8px;
  color: rgb(122, 134, 154);
  list-style: disc;
  height: 16px;
  padding-left: 20px;
}
.p {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  color: rgb(52, 69, 99);
  padding-top: 20px;  
}

.html {
width: 53px;
height: 24px;
display: flex;
align-items: center;
color: rgb(235, 235, 255);
border-radius: 8px;
padding: 4px 12px;  
border: 0; 
}

.css {
  width: 45px;
  height: 24px;
  display: flex;
  align-items: center;
  color: rgb(235, 235, 255);
  border-radius: 8px;
  padding: 4px 12px;
  border: 0;
  margin-left: 10px;
}

.js {
  width: 89px;
  height: 24px;
  display: flex;
  align-items: center;
  color: rgb(235, 235, 255);
  border-radius: 8px;
  padding: 4px 12px;
  border: 0;
  margin-left: 10px;
}

.button {
  display: flex;
  padding-inline-start: 0;
  margin-left: -6rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  font-family: 'Poppins', sans-serif;
  font-family: 500px;
  font-size: 12px;
  letter-spacing: 0.03em; 
  color: rgb(96, 112, 255);
  text-decoration: none;
}

.pro1 {
  align-items: center;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  margin-left: -11rem;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  background-color: white;
}

.aboutself {
  display: flex;
  background-color: white;
}

.about {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  line-height: 52px;
  font-weight: 700;
  color: rgb(23, 43, 77);
  width: 327px;
  height: 101px;
  padding-top: 40px;
  padding-left: 16px;
}

.par {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px normal;
  color: rgb(52, 69, 99);
  padding-left: 16px;
  padding-top: 10px;
  width: 327px;
  height: 144px;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500px;
  color: rgb(127, 140, 255);
  padding-left: 16px;
  padding-top: 7px;
}

.contact {
  display: inline-flex;
  padding-left: 16px;
  align-items: baseline;
  padding-top: 15px;
}

.twitter {
  width: 19.99px;
  height: 19.96px;
  color: rgb(80, 95, 121);
  padding-left: 20px;
}

.email {
  width: 20px;
  height: 16px;
  padding-left: 20px;
  color: rgb(80, 95, 121);
}

.linkedin {
  width: 20px;
  height: 20px;
  padding-left: 20px;
  color: rgb(80, 95, 121);
}


.github {
  width: 20px;
  height: 20px;
  color: rgb(80, 95, 121);
}

.vector {
  width: 14.17px;
  height: 20px;
  padding-left: 20px;
  color: rgb(80, 95, 121);
}

.resume {
  display: flex;
  align-items: center;
  width: 162px;
  height: 48px;
  border: 1px solid rgb(96, 112, 255);
  border-radius: 7px;
  background-color: white;
  color: rgb(57, 109, 242);
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  padding: 12px;
  letter-spacing: 00.03em;
  margin-top: 15px;
  margin-left: 16px;
  padding-left: 30px;
}

.language {
  padding-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500px;
  font-size: 20px;
  color: black;
  display: flex;
  width: 237px;
  height: 24px;
  padding-top: 30px;
}

.dropdown {
  width: 14px;
  height: 8px;
  color: rgb(94, 108, 132);
  display: inline-flex;
  align-items: flex-end;
  padding-left: 50px;
}

.languages {
  display: inline-flex;
  align-items: baseline;
}

.ellipse {
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  background-color: rgb(247, 247, 249);
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  border-left: 16px;
  padding-top: 5px;
  margin-top: 30px;
  margin-left: 16px;
}

.ellipse2 {
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  background-color: rgb(247, 247, 249);
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  border-left: 16px;
  padding-top: 5px;
  margin-top: 12px;
  margin-left: 16px;
}

.ellipse3 {
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  background-color: rgb(247, 247, 249);
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  border-left: 16px;
  padding-top: 5px;
  margin-top: 12px;
  margin-left: 16px; 
}

.skills {
  display: flex;
  align-items: center;
  font-family: 'Poppins',sans-serif;
  font-weight: 500px;
  font-size: 20px;
  width: 237px;
  height: 24px;
}

.frame {
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  width: 303px;
  height: 66.72px;
  border-left: 16px;
  padding-top: 5px;
  margin-top: 30px;
  margin-left: 16px;
  align-items: center;
}

hr {
  margin-left: 16px;
  margin-right: 25px;
}


