.Header {
    display:flexbox;
    width: 375px;
    height: 718px;
    justify-content: center;
}

.toolbar {
    position: absolute;
    width: 375px;
    height: 48px;
    margin: 44px,0,0,0;
}

.headline {
    position: absolute;
    flex-direction: column;
    width:375px ;
    height: 304px;
    top: 92px;
    padding:114px 24px ;
    background-image: url("images/header-shapes\ mobile.png");
    background-repeat: no-repeat;
}

h1 {
    font-family:Poppins;
    font-weight: 700px;
    font-size: 40px;
    line-height: 52px;

}
